
body
	{
	font-style: italic;
	text-align: center;
	font-family: Helvetica;
	background-color: skyblue;
	}

p
	{
	color: beige;
	background: steelblue;
	font-size: large;
	}

h1 	{
	text-shadow: 1px 1px red
	}

/*Oh look, here's how to comment in CSS*/

th
	{
	color: beige;
	background: steelblue;
	text-align: center;
	font-size: large;
	}

tr
	{
	color: steelblue;
	text-align: center;
	font-size: large;
	}
	