/******* GENERAL STYLE RULES */

body {
    margin: 0%;
    background-color: rgb(40, 35, 35);
}

h1 {
    text-transform: uppercase;
    font-family: Lexend Mega, Helvetica, sans-serif;
    text-align: center;
    margin-top: 3%;
    color: rgb(25, 75, 75);
    font-size: 2.5vw;
}

.white-text {
    color: beige;
}

p {
    font-family: Roboto, arial, sans-serif;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.center {
    text-align: center;
}

.center-hover {
    transition: transform 2s;
    transform: scale(1.1);
}

a {
    color: blue;
}

q {
    font-style: italic;
}

img {
    filter: greyscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    filter: grayscale(5%);
    transition: transform 1s;
}

/* Resolves issue with small screens being blasted with overlarge images */
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/******* END OF GENERAL STYLES */



/******* HERE BE NAV BAR */

.Navbar {
    overflow: hidden;
    background-color: rgb(25, 75, 75);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

    /* Now sliiiiide to the right! */
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

.Navbar a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Avant Garde, Helvetica;
    font-size: 20px;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}

    /* Now DROP */
@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

    /* Again, gotta fix issues for smaller screens */
@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%;
        font-size: 12px;
    }
}

.Navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
}

.Navbar a.active {
    background-color: darkgray;
}

/******* END OF NAV STUFF */


/******* VIDEO STYLES */

#Coding_Video {
    position: fixed;
    top: -400px;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

    /* Look, just get bigger screens, people */
@media screen and (max-width: 576px) {
    #Coding_Video {
        display: none;
    }
}

.Video_Text {
    background: rgba(0, 0, 0, 0);
    color: white;
    width: 100%;
    padding: 20px;
    position: relative;
    -webkit-animation:moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

    /* Now JUMP */
@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}

/******* END VIDEO STYLES */



/********* SLIDESHOW STYLES */

.mySlides {
    display: none; /*Hide the slides*/
}

@-webkit-keyframes fade {

}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

.Slide_Show_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: auto;
}

.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.Previous:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, .75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
}

.Slide_Number {
    color: white;
    position: absolute;
    top: 0;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
}

.active, .dot:hover {
    background-color: black;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


/************ END OF SLIDESHOW STYLES */




/******* TABLE STYLING */


* {
    box-sizing: border-box;
}

    /* These Column_1's are the texty content-y ones */
.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: #f2f2f2;
}

    /* This one's for the pretty pictures, yay! */
.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: rgb(25, 75, 75);
}

    /* Little extra room for that contact form */
.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

    /* little breathing room, here */
.Row:after {
    content: "";
    display: table;
    clear: both; /* Handy -- wipes out any floating elements right or left of this one */
}

/******* END TABLE STYLES */




/******* POPUP CONTACT FORM STYLES */

@keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw;}
}

.Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

.form-popup {
    border: 3px solid #f0f1f0;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

.form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: darkgray;
    font-family: Helvetica, Avant Garde;
    font-size: 1vw;
}

.form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
}

button {
    font-family: "Trebuchet mS", Optima;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover, .form-container .btn:hover {
    color: white;
    background-color: black;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: silver;
}

.from-container .cancel:hover {
    color: white;
    background-color: darkred;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    border-style: solid;
    border-color: black;
}